h1 {
  font-family: 'Caveat', cursive;
align-content: center;
color: #cc0000;
}



ul.nav {
    font-family: 'Anek Malayalam', sans-serif;
    padding-left: 0px;
    background-color: #FFE62D;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
  }
  ul.nav > li:hover {
    background-color: #FFE62D;
  }
  ul.nav > li > a {
    color:black ;
    text-decoration: none;
  }
 div {
   display: flex;
   justify-content: center;
 }

div p

footer {
  font-family: 'Anek Malayalam', sans-serif;
  font-size: 22px;
  color: black;
  text-align: center;
}